[core]

	# Use custom `.gitignore`
	excludesfile = ~/.gitignore

[color]

	# Enable color highlighting
	ui = auto
	interactive = auto

[help]

	# Enable automatic correction and execution of the mistyped commands
	autocorrect = 1
