"*":
  core:
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "welcome"
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    fontSize: 13
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
  emmet: {}
  "tree-view":
    hideIgnoredNames: true