"*":
  core:
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "welcome"
      "wrap-guide"
    ]
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 14
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  linter:
    lintOnFly: false
    showErrorInline: false
    showErrorTabLine: false
    underlineIssues: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
