linter-bottom-container,
linter-bottom-status,
linter-bottom-tab {
  margin-right: @component-padding;
  margin-left: 0;
}

linter-bottom-tab {
  padding: 0;
  line-height: inherit;
  background: transparent;
  border: 0;
}
