/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

linter-bottom-container,
linter-bottom-status,
linter-bottom-tab {
  margin-right: @component-padding;
  margin-left: 0;
}

linter-bottom-tab {
  padding: 0;
  line-height: inherit;
  background: transparent;
  border: 0;
}
