"*":
  core:
    disabledPackages: [
      "archive-view"
      "autocomplete-atom-api"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "dev-live-reload"
      "exception-reporting"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-go"
      "language-java"
      "language-objective-c"
      "language-perl"
      "language-rust-bundled"
      "language-sql"
      "metrics"
      "package-generator"
      "styleguide"
      "update-package-dependencies"
      "welcome"
      "whitespace"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 100
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: false
  "markdown-preview":
    useGitHubStyle: true
  tabs:
    enableMruTabSwitching: false
